/*Utilities*/

.center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.section {
    margin-top: 50px;
}

/*Pages Title*/

.title {
    font-size: 50px;
}

/*Login Form Styling*/

.gapped div {
    margin-top: 10px;
}

/*Make Status Page's Profile Image Rounded*/

.thumbnail img {
    border-radius: 50%;
}

/*Hide Contents Before AJAX Done Checking ID*/

#profile-data, #register {
    display: none;
}
